input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-container{
  display: flex;
  align-items: center;
}

p{
  margin-bottom: 1%;
  margin-top: 8%;
}

form{
  width: 40%;
  margin:  0 auto; 
}

.form-name-style{
  height: 30px;
  width: 40%;
  border-radius: 4px;
  border: 1px solid #c8a9d8;
}

.form-name-style:focus{
  outline: none;
}

.numeroCartao-style{
  height: 30px;
  width: 40%;
  border-radius: 4px;
  border: 1px solid #c8a9d8;
}

.numeroCartao-style:focus{
  outline: none;
}

.container-validade-cvc{
  align-content: center;
  display: flex;
}

.mm-style{
  width: 7%;
  margin-right: 5px;
}

.yy-style{
  width: 7%;
}

.cvc-style{
  width: 26%;
}