/*Formulario*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input{
  border-radius: 4px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #8b9997;
  height: 30px;
  width: 100%;
}

input:focus{
  outline: none;
}

form{
  width: 100%;
  margin:  0 auto; 
  color: #8b9997;
  max-width: 390px;
}

button{
  background-color: #001219;
background-image: linear-gradient(270deg, #001219 0%, #005f73 33%, #0a9396 66%, #94d2bd 100%);
  background-size: 300% 300%;
  height: 30px;
  width: 102%;
  margin-top: 16px;
  border-radius: 4px;
  color: rgb(245, 245, 245);
  border: 0;
}

button:hover{
  cursor: pointer;
  animation: colors 2.5s ease normal;
}

@keyframes colors {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.form-container{
  width: 100%;
  display: flex;
  align-items: center;
  font-family: 'Roboto Condensed', sans-serif;
}

.form-style{
  width: 100%;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}

.form-style:focus{
  outline: none;
}

.container-validade-cvc{
  display: flex;
  align-content: center;
  justify-content: space-between;
  width: 100%;
}

.slyte-validade-container{
  width: 50%;
}

.mm-style{
  width: 40%;
  margin-right: 5px;
}

.yy-style{
  width: 40%;
}

/*Tela de sucesso*/

.success-style{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.img-form-style{
  height: 180px;
  width: 180px;
  margin-left: 41px;
}

.msg-success{
  color: #59726e;
  font-family: 'Roboto Condensed', sans-serif;
  width: 100%;
  right: 100%;
}

/*Responsividade*/

@media (max-width: 800px) 
{
  .form-container
   {
    width: 350px;
   }
}