.card-style-container{
    background-color: #dcbf52;
background-image: linear-gradient(33deg, #dcbf52 0%, #F76B1C 100%);
    border-radius: 8px;
    height: 200px;
    width: 330px;
    position: absolute;
    top: 225px;
    left: 120px;
    padding: 15px;
    font-family: 'Rajdhani', sans-serif;   
    font-weight: 500;
    color: silver;
    text-shadow: 1px 1px 3px rgba(95, 94, 94, 0.5);
    box-sizing: border-box;
}

.bandeira-style-continer{
    width: 100%;
    display: flex;
}

.bandeiraSolida-style{
    background: lightblue;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.bandeiraTransparente-style{
    background-color: none;
    border: 1px solid white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-top: 7px;
    margin-left: 8px;
}

.style-numero-card {
    font-size: 1.4em;
    letter-spacing: 2px;
    margin: 0 auto;
}

.styles-nome-card{
    text-transform: uppercase;
    font-size: 0.9em;
    margin: 0 auto;
}

.card-validade-style{
    display: flex;
    width: 100%;
    justify-content: center;
}